/* Whole table */
#checkout-list {
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
  border: none;
}

.checkout-list-header {}

.checkout-list-header-row {}

.checkout-list-header-item {
  font-weight: bold;
  text-align: left;
}

.checkout-list-body {}

.checkout-list-row {
  cursor: pointer;
}

.checkout-list-row:nth-child(2n-1) {
  /* background-color: rebeccapurple; */
  background: linear-gradient(to right, var(--color-light), var(--color-background));
}

.checkout-list-field {
  padding: 0.2rem;
}