/* Reset some default styles */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-weight: normal;
  vertical-align: baseline;
}

/* Set default font family and size */
body {
  /* font-family: Arial, sans-serif; */
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

html,
body,
#root {
  height: 100%;
  width: 100%;
}

/* Global box-sizing */
*,
*:before,
*:after {
  box-sizing: border-box;
}

/* Clear floating elements */
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

/* Links */
a {
  text-decoration: none !important;
}

a:hover {
  text-decoration: underline;
}

/* Headings */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  margin-bottom: 0.5em;
}

/* Responsive images */
img {
  max-width: 100%;
  height: auto;
}

/* Hide visually but maintain accessibility */
.visually-hidden {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  white-space: nowrap;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button {
  cursor: pointer;
}

/* Randomly colored variables chosen by my random color generating friend */
* {
  /* Cream*/
  --color-background: #F4EBD0;
  /* Charcoal */
  --color-high-contrast: #122620;
  /* Gold */
  --color-light: #D6AD60;
  /* Tan */
  --color-dark: #B68D40;

  --navbar-height: 3.5rem;
}

#main {
  width: 100%;
  height: calc(100% - var(--navbar-height));
  /* height: 100%; */
  background-color: var(--color-background);
}